In [1]:
import caveclient

In [2]:
client = caveclient.CAVEclient('h01_c3_flat')

In [3]:
datastack = client.info.get_datastack_info('h01_c3_flat')
datastack

{'proofreading_status_table': None,
 'soma_table': None,
 'viewer_resolution_z': 33.0,
 'segmentation_source': 'graphene://https://local.brain-wire-test.org/segmentation/1.0/h01_full0_v2',
 'proofreading_review_table': None,
 'viewer_resolution_x': 8.0,
 'analysis_database': None,
 'synapse_table': None,
 'description': 'datastack with the flat c3 segmentation applied',
 'viewer_resolution_y': 8.0,
 'viewer_site': 'https://h01-dot-neuroglancer-demo.appspot.com/',
 'local_server': 'https://local.brain-wire-test.org',
 'aligned_volume': {'id': 1,
  'image_source': 'precomputed://gs://h01-release/data/20210601/4nm_raw',
  'name': 'h01',
  'description': 'aligned volume image stack of H01'},
 'cell_identification_table': None}

In [4]:
client.materialize.get_versions()

[47, 65, 68, 69]

In [5]:
client.materialize.version

69

In [6]:
client.materialize.query_table(table="test_table", 
                               datastack_name="h01_c3_flat", 
                               limit=10)

201 - "Limited query to 10 rows

,id,created,superceded_id,valid,tag,pt_supervoxel_id,pt_root_id,pt_position
0,100,2023-03-17 00:25:58.272757+00:00,NaN,t,tag 0,0,0,"[509727, 237746, 87991]"
1,101,2023-03-17 00:25:58.273528+00:00,NaN,t,tag 1,0,0,"[512001, 269894, 87644]"
2,102,2023-03-17 00:25:58.274244+00:00,NaN,t,tag 2,0,0,"[449991, 205777, 88914]"
3,103,2023-03-17 00:25:58.275093+00:00,NaN,t,tag 3,0,0,"[542992, 273313, 88943]"
4,104,2023-03-17 00:25:58.275732+00:00,NaN,t,tag 4,0,0,"[488576, 194282, 88592]"
5,105,2023-03-17 00:25:58.276428+00:00,NaN,t,tag 5,0,0,"[543320, 268341, 88277]"
6,106,2023-03-17 00:25:58.277097+00:00,NaN,t,tag 6,0,0,"[449484, 229374, 89224]"
7,107,2023-03-17 00:25:58.277695+00:00,NaN,t,tag 7,0,0,"[541481, 196244, 89280]"
8,108,2023-03-17 00:25:58.278335+00:00,NaN,t,tag 8,0,0,"[545820, 291478, 88047]"
9,109,2023-03-17 00:25:58.278962+00:00,NaN,t,tag 9,0,0,"[564283, 258182, 87737]"

In [7]:
client.materialize.query_table("test_table", 
                               limit=10)

201 - "Limited query to 10 rows

,id,created,superceded_id,valid,tag,pt_supervoxel_id,pt_root_id,pt_position
0,100,2023-03-17 00:25:58.272757+00:00,NaN,t,tag 0,0,0,"[509727, 237746, 87991]"
1,101,2023-03-17 00:25:58.273528+00:00,NaN,t,tag 1,0,0,"[512001, 269894, 87644]"
2,102,2023-03-17 00:25:58.274244+00:00,NaN,t,tag 2,0,0,"[449991, 205777, 88914]"
3,103,2023-03-17 00:25:58.275093+00:00,NaN,t,tag 3,0,0,"[542992, 273313, 88943]"
4,104,2023-03-17 00:25:58.275732+00:00,NaN,t,tag 4,0,0,"[488576, 194282, 88592]"
5,105,2023-03-17 00:25:58.276428+00:00,NaN,t,tag 5,0,0,"[543320, 268341, 88277]"
6,106,2023-03-17 00:25:58.277097+00:00,NaN,t,tag 6,0,0,"[449484, 229374, 89224]"
7,107,2023-03-17 00:25:58.277695+00:00,NaN,t,tag 7,0,0,"[541481, 196244, 89280]"
8,108,2023-03-17 00:25:58.278335+00:00,NaN,t,tag 8,0,0,"[545820, 291478, 88047]"
9,109,2023-03-17 00:25:58.278962+00:00,NaN,t,tag 9,0,0,"[564283, 258182, 87737]"